body {
  padding: 20px 40px;
}

body,
label,
.checkbox label {
  font-weight: 300;
}

.group::after {
  content: "";
  clear: both;
  display: block;
}

.header {
  height: 50px;
  border-bottom: 2px solid black;
}

.header > * {
  margin: 0;
}

.header h1 {
  float: left;
}

.header a {
  margin-top: 5px;
  float: right;
}

.new-patient-button {
  margin-top: 5px;
}
